
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
input{
    background-color: rgba(0, 0, 0, 0.001);
    border: 0;
    margin-left: 1em;
}
input[type="text"].in-se::placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}
.hero-img{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 78.2vh;
  background: url(images/hero/img.jpeg);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  z-index: -1;
}
nav{
  width: 100%;
  height: 60px;
  margin-top: 0;
  margin-top: 0%;
}
.top-bar{
  margin: 0;
  padding: 0;
  
}
.se-in{
  margin: 0;
  padding: 0;
  width: 50%;
}
.menu{
 margin-left: auto;
 padding-right: 1.1rem;
 
}
.expand{
 width: 1.5rem;
}
nav ul li{
  list-style: none;
  position: relative;
  
}
nav ul li a{
  
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 2rem;
  text-decoration: none
}
nav ul li ul{
  display: none;
  position: absolute;
  padding: 0px;
  text-align: left;
  margin: 0;
 
  
}
nav ul li:hover ul{
  display: block;
  position: absolute;
}

nav ul li ul a{
  padding: 0 ;
  
}
.space{
  margin-top: 69vh; 
}
.img-sep-1{
  width: 80%;
  height: 8em;
  background-color: #ff3300;
  padding: 1em;
  display: flex;
  justify-content: space-between; 
}
.img-sep-2{
  width: 80%;
  height: 8em;
  background-color: #859bcc;
  padding: 1em;
  display: flex;
  justify-content: space-between; 
}
.img-sep-3{
  width: 80%;
  height: 8em;
  background-color: #f7c028;
  padding: 1em;
  display: flex;
  justify-content: space-between; 
}
.img-sep-4{
  width: 80%;
  height: 8em;
  background-color: #b0e4a8;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.img-sep-5{
  width: 80%;
  height: 5em;
  background-color: #f7c028;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.img-sep-6{
  margin-top: 5em;
  width: 80%;
  height: 9em;
  background-color: #b0e4a8;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
button{
  background-color: white;
  border: 0px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
}
button h3{
 font-weight: 790;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cli-but{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  border: dotted 2px black;
}
.click{
  display: flex;
  height: 4.5em;
  margin-right: -2.2em;  
}
.send-1{
  display: flex;
  height: 3.8em;
  margin-right: -2.5em;
}
.send-2{
  display: flex;
  height: 3.8em;
}
.img-lay-1{
  height: 60vh;
  padding: 0;
  margin-top: -3.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  background: url(images/lay/img-1.jpeg);
  background-size: cover;
}
.img-lay-2{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -3.5em;
  background: url(images/lay/img-2.jpeg);
  background-size: cover;  
}
.img-lay-3{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -3.5em;
  background: url(images/lay/img-3.jpeg);
  background-size: cover; 
}
.img-lay-4{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -3.5em;
  background: url(images/lay/img-4.jpeg);
  background-size: cover;
}
.se-in{
  border-bottom: #000 2px solid;
  margin-left: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}
.top-bar{
  display: flex;
}
.search{ 
  width: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.expand{
  width: 1em;
}
.carousel{
  width: auto;
  display: flex;
  margin-top: -5em;
}
.carousel-1{
  width: 11em;
  height: 50vh;
  background: url(images/carousel/img-1.jpeg);
  background-size: cover;
}
.carousel-2{
  width: 11em;
  height: 50vh;
  background: url(images/carousel/img-2.jpeg);
  background-size: cover;
}
.lor-car-1{
  margin-left: 0.5em;
  margin-right: 0.2em;
}
.lor-car-2{
  margin-left: 0.5em;
}
.car-dol{
  display: flex;
  justify-content: space-between;
  margin-top: -1.3em;
}
.lo-dol-1{
  color: rgb(165, 165, 159);
}
.lo-dol-2{
  margin-right: 5em;  
}
.sub{
  height: 15em;
  background-color: #859bcc;
  padding: .5em;
  margin: 0; 
}
.em-se{
  display: flex; 
  justify-content: space-between;
}
.email{
 border-bottom: black solid 1px;
}
input[type="email"].email::placeholder{
  color: #615754;
  opacity: 1;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}
.foot-nav{
  color: #ff3300; 
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em 1.5em;
  position: static;
}

