body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
input{
  background-color: rgba(0, 0, 0, 0.001);
  border: 0;
  margin-left: 1em;
}
::placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}
.top-bar{
  margin-top: .5em;
  padding: 0; 
  height: 2em;
  display: flex;
  justify-content: space-between;
}
.se-in{
  margin: 0;
  padding: 0;
  width: 70%;
  display: flex;
  border-bottom: #000 2px solid;
  margin-left: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  
}
.search{ 
  width: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.all{
  margin-right: 1.3rem;
}
.img-sep-1{
  width: 90%;
  height: 14.6em;
  background-color: #f7c028;
}
.img-sep-1 ul li{
  list-style: none;
  position: relative;
  justify-content: space-between;
  display: flex;
  border-bottom: #000 solid 3px;
  margin-right: -1.3rem; 
  height: 3.8em;
  
}
.img-sep-1 ul li a{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 2rem;
  text-decoration: none;
  
}
.img-text{
  display: flex;
  
    
}
.text-click{
  display: grid;
  padding: .5em;
  width: 40%;
 
  
  
    
}
.click{
  display: flex;
  height: 3.5em;
  padding-top: .5 em;

 
}
.img-lay-1{
  
  height: 28vh;
  padding: 0;
  width: 43em;
  margin-right: -1.5em;
  background: url(images/lay/search/img-1.jpeg);
  background-size: cover;
 
}
.img-sep-2{
  width: 90%;
  height: 13em;
  background-color: #859bcc;
  margin-top: 4em;
}
.img-lay-2{
  height: 30vh;
  padding: 0;
  width: 43em;
  margin-top: 2em;
  margin-right: -1.5em;
  background: url(images/lay/search/img-2.jpeg);
  background-size: cover;
}
.img-sep-2 .text-click h1{
  text-align: center;
  margin-top: 3em;
}
.img-sep-2 .click{
  display: flex;
  height: 3,7em;

  margin-top: 3em;
}
.img-sep-3{
  width: 90%;
  height: 13em;
  background-color: #fc4011;
  margin-top: 4em;
}
.img-lay-3{
  height: 30vh;
  padding: 0;
  width: 43em;
  margin-top: 2em;
  margin-right: -1.5em;
  background: url(images/lay/search/img-3.jpeg);
  background-size: cover;
}
.img-sep-3 .text-click h1{
  text-align: center;
  margin-top: 3em;
}
.img-sep-3 .click{
  display: flex;
  height: 3.7em;
  margin-top: 3em;
}
.img-sep-4{
  width: 90%;
  height: 13em;
  background-color: #b0e4a8;
  margin-top: 4em;
}
.img-lay-4{
  height: 30vh;
  padding: 0;
  width: 43em;
  margin-top: 2em;
  margin-right: -1.5em;
  background: url(images/lay/search/img-4.jpeg);
  background-size: cover;
}
.img-sep-4 .text-click h1{
  text-align: center;
  margin-top: 3em;
}
.img-sep-4 .click{
  display: flex;
  height: 3.7em;
  margin-top: 3em;
}
.img-sep-5{
  width: 90%;
  height: 13em;
  background-color: #f7c028;
  margin-top: 4em;
}
.img-lay-5{
  height: 30vh;
  padding: 0;
  width: 43em;
  margin-top: 2em;
  margin-right: -1.5em;
  background: url(images/lay/search/img-5.jpeg);
  background-size: cover;
}
.img-sep-5 .text-click h1{
  text-align: center;
  margin-top: 3em;
}
.img-sep-5 .click{
  display: flex;
  height: 3.7em;
  margin-top: 3em;
}

.foot-nav{
  color: #ff3300; 
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 1.5em;
}