
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
input{
    background-color: rgba(0, 0, 0, 0.001);
    border: 0;
    margin-left: 1em;
}
::placeholder{
    color: #000;
    opacity: 1;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.hero-img{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 78.2vh;
  background: url(images/hero/img.jpeg);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  z-index: -1;
}
nav{
  width: 100%;
  height: 60px;
  margin-top: 0;
  margin-top: 0%;
}
.top-bar{
  margin: 0;
  padding: 0;
  
}
.se-in{
  margin: 0;
  padding: 0;
  width: 50%;
}
.menu{
 margin-left: auto;
 padding-right: 1.1rem;
 
}
.expand{
 width: 1.5rem;
  
 }
nav ul li{
  list-style: none;
  position: relative;
  
}
nav ul li a{
  
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 2rem;
  text-decoration: none
}
nav ul li ul{
  display: none;
  position: absolute;
  padding: 0px;
  text-align: left;
  margin: 0;
 
  
}
nav ul li:hover ul{
  display: block;
  position: absolute;
}

nav ul li ul a{
  padding: 0 ;
  
}

.space{
  margin-top: 69vh;
  
}
.img-sep-1{
  width: 75%;
  height: 8em;
  background-color: #ff3300;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.img-sep-2{
  width: 75%;
  height: 8em;
  background-color: #859bcc;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.img-sep-3{
  width: 75%;
  height: 8em;
  background-color: #f7c028;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.img-sep-4{
  width: 75%;
  height: 8em;
  background-color: #b0e4a8;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.img-sep-5{
  width: 75%;
  height: 5em;
  background-color: #f7c028;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.img-sep-6{
  margin-top: 5em;
  width: 75%;
  height: 6em;
  background-color: #aaaeb4;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
button{
  background-color: white;
  border: 0px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
}
button h3{
 font-weight: 790;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cli-but{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  border: dotted 2px black;
}
.click{
  display: flex;
  height: 5em;
  margin-right: -3.5em;
  
}
.click-6{
  display: flex;
  height: 3.8em;
  margin-right: -5.5em;
  
}

.img-lay-1{
  height: 60vh;
  padding: 0;
  margin-top: -4em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  background: url(images/lay/img-1.jpeg);
  background-size: cover;
  

}
.img-lay-2{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -4em;
  background: url(images/lay/img-2.jpeg);
  background-size: cover;
  
  
}
.img-lay-3{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -4em;
  background: url(images/lay/img-3.jpeg);
  background-size: cover;
  
  
}
.img-lay-4{
  height: 60vh;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -4em;
  background: url(images/lay/img-4.jpeg);
  background-size: cover;
  
  
}






.se-in{
  border-bottom: #000 2px solid;
  margin-left: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}
.top-bar{
  display: flex;
}
.search{ 
  width: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.expand{
  width: 1em;
}
